In [2]:
import pandas as pd
data = pd.read_csv('example.csv')
data

                                                    text  label
0      I grew up (b. 1965) watching and loving the Th...      0
1      When I put this movie in my DVD player, and sa...      0
2      Why do people who do not know what a particula...      0
3      Even though I have great interest in Biblical ...      0
4      Im a die hard Dads Army fan and nothing will e...      1
...                                                  ...    ...
39995  "Western Union" is something of a forgotten cl...      1
39996  This movie is an incredible piece of work. It ...      1
39997  My wife and I watched this movie because we pl...      0
39998  When I first watched Flatliners, I was amazed....      1
39999  Why would this film be so good, but only gross...      1

[40000 rows x 2 columns]

In [84]:
data=pd.read_csv('train.csv')
data

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral

In [85]:
index = data[data['sentiment'] == 'neutral'].index
data = data.drop(index)
index = data[data['sentiment'] == 'positive'].index
for i in index:
    data.loc[i]['sentiment'] =1
index = data[data['sentiment'] == 'negative'].index
for i in index:
    data.loc[i]['sentiment'] = 0
    
data.rename(columns = {"sentiment": "label"})

data

,textID,text,selected_text,sentiment
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,0
2,088c60f138,my boss is bullying me...,bullying me,0
3,9642c003ef,what interview! leave me alone,leave me alone,0
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",0
6,6e0c6d75b1,2am feedings for the baby are fun when he is a...,fun,1
...,...,...,...,...
27475,b78ec00df5,enjoy ur night,enjoy,1
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,0
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",0
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,1
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,1

In [90]:
data.rename(columns = {"sentiment": "label"},inplace=True)

data

,textID,text,selected_text,label
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,0
2,088c60f138,my boss is bullying me...,bullying me,0
3,9642c003ef,what interview! leave me alone,leave me alone,0
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",0
6,6e0c6d75b1,2am feedings for the baby are fun when he is a...,fun,1
...,...,...,...,...
27475,b78ec00df5,enjoy ur night,enjoy,1
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,0
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",0
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,1
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,1

In [3]:
def cleansing(content):
    
    cleasing_content = []
    url_pattern ='https?://\S+|#([0-9a-zA-Z]*)'

    for text in content:
        #대문자 소문자 변환
        lower_content = (text.lower())

        #불용어 제거
        shortword = re.compile(r'\W*\b\w{1,2}\b')
        shortword_content = shortword.sub('', lower_content)
        text = re.sub(pattern=url_pattern, repl=' ', string = shortword_content)
        
        text = re.sub('[\"@,\[\]\(\)&%*-=#/:$\}\{”]', '', text)
        text = text.replace("\n", "")
        text = text.replace("\r", "")
        cleasing_content.append(text)
    return cleasing_content

In [128]:
sample = data.sample(n=10000,random_state = 4)
sample
sample_cleansing = s_cleansing(sample['text'].tolist())

In [95]:
sample

,textID,text,selected_text,label
9461,0f361614b7,Scary guy on colbert...,Scary guy on,0
616,4ccb7ef67c,"either way, you always tend to make my #follo...",you do rock that much,1
1435,d21ee0c579,Unanticipated thunderstorm quashed camping trip,quashed,0
4463,f4fd2dc7f7,decided that wolf in a future Star Trek Logo g...,cooler,1
18223,0a2abed6c6,a wet and dirty one now,dirty,0
...,...,...,...,...
24521,1c66a422b6,So bored in chem n im super hungry! Ugh,So bored in chem n im super hungry! Ugh,0
21966,9ba441d736,LOL we`re such twitter addicts,LOL we`re such twitter addicts,1
20570,fba6bf905d,Waking Up In Vegas is goooooooooooooooooooooooood,goooooooooooooooooooooooood,1
19104,3c454386f3,Honestly at home alone,Honestly,1
15386,7d982daf08,Glad you like!,Glad you like!,1

In [7]:
import sys, os
from labMTsimple.storyLab import *
import codecs ## handle utf8
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(-1,1))

emotionFileReader(stopval=0.0,lang='english',returnVector=True)
labMT,labMTvector,labMTwordList = emotionFileReader(stopval=0.0,lang='english',returnVector=True)
def my_labMT(text):
    labMT,labMTvector,labMTwordList = emotionFileReader(stopval=0.0,lang='english',returnVector=True)
    ## compute valence score and return frequency vector for generating wordshift
    Valence,Fvec = emotion(text,labMT,shift=True,happsList=labMTvector)
    ## but we didn't apply a lens yet, so stop the vectors first
    StoppedVec = stopper(Fvec,labMTvector,labMTwordList,stopVal=1.0)
    Valence = emotionV(StoppedVec,labMTvector)
    #print('the valence of {0} is {1:.5}'.format('input data',Valence))
    return Valence

In [6]:
def s_cleansing(List):
    
    corpus = []
    for i in List:
        url_pattern ='https?://\S+|#([0-9a-zA-Z]*)'
        i = re.sub(pattern=url_pattern, repl=' ', string = str(i))
        i = i.replace('\r','').replace('\n','')
        text = re.sub('[-=+,#/\?:^$”@*\"“※~&%ㆍ!』\\‘|\(\)\[\]\<\>`…》;’]', '', i.lower())
        corpus.append(text)
    return corpus

# 글 전체

In [129]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from textblob import TextBlob
from afinn import Afinn
import time
start = time.time()
afn = Afinn(emoticons=True)
v_label = []
a_label = []
t_label = []

num = 1
sid = SentimentIntensityAnalyzer()
for i in sample_cleansing:
    if sid.polarity_scores(i)['compound'] > 0:
        v_label.append(1)
    else:
        v_label.append(0)
    if TextBlob(i).sentiment.polarity > 0:
        t_label.append(1)
    else:
        t_label.append(0)
    if afn.score(i) > 0:
        a_label.append(1)
    else:
        a_label.append(0)
print(time.time()-start)

7.710480213165283

In [137]:
l_label = []
for i in sample_cleansing:
    if my_labMT(i) > 5.5:
        l_label.append(1)
    else:
        l_label.append(0)

In [138]:
num_v_all = 0
num_t_all = 0
num_a_all = 0
num_l_all = 0
for i in range(len(sample)):
    if v_label[i] == sample['label'].values[i]:
        num_v_all = num_v_all + 1
    if t_label[i] == sample['label'].values[i]:
        num_t_all = num_t_all + 1
    if a_label[i] == sample['label'].values[i]:
        num_a_all = num_a_all + 1
    if l_label[i] == sample['label'].values[i]:
        num_l_all = num_l_all + 1
print("vader,textblob,affin, labMT의 사용결과는 차례대로 :",num_v_all/len(sample),num_t_all/len(sample),num_a_all/len(sample),num_l_all/len(sample))

vader,textblob,affin, labMT의 사용결과는 차례대로 : 0.825 0.7812 0.8299 0.7776

# 문장단위

In [131]:
from nltk.tokenize import sent_tokenize
from nltk import tokenize
v_label_sen = []
t_label_sen = []
a_label_sen = []
num = 1
for i in sample_cleansing:
    para = tokenize.sent_tokenize(i) #문장단위로 자른거 ->리스트형태
    num_v = 0
    num_t = 0
    num_a = 0
    for j in para:
        num_v = num_v + sid.polarity_scores(j)['compound']
        num_t = num_t + TextBlob(j).sentiment.polarity
        num_a = num_a + afn.score(j)
    if num_v>0:
        v_label_sen.append(1)
    else:
        v_label_sen.append(0)
    if num_t>0:
        t_label_sen.append(1)
    else:
        t_label_sen.append(0)
    if num_a>0:
        a_label_sen.append(1)
    else:
        a_label_sen.append(0)
    num = num + 1
num_v_sen = 0
num_t_sen = 0
num_a_sen = 0


for i in range(len(sample)):
    if v_label_sen[i] == sample['label'].values[i]:
        num_v_sen = num_v_sen + 1
    if t_label_sen[i] == sample['label'].values[i]:
        num_t_sen = num_t_sen + 1
    if a_label_sen[i] == sample['label'].values[i]:
        num_a_sen = num_a_sen + 1
        
print("문장 단위로 계산했을때 vader,textblob,afinn의 정확도는 각각 ",num_v_sen/len(sample),num_t_sen/len(sample),num_a_sen/len(sample))

문장 단위로 계산했을때 vader,textblob,afinn의 정확도는 각각  0.8268 0.7803 0.8299

# 단어단위

In [132]:
from nltk.tokenize import word_tokenize
v_label_word = []
num = 1
for i in sample_cleansing:
    para = tokenize.word_tokenize(i) #단어단위로 자른거 ->리스트형태
    num_v = 0
    for j in para:
        num_v = num_v + sid.polarity_scores(j)['compound']
        
    if num_v>0:
        v_label_word.append(1)
    else:
        v_label_word.append(0)

In [133]:
num = 1
t_label_word = []
for i in sample_cleansing:
    para = tokenize.word_tokenize(i) #단어단위로 자른거 ->리스트형태
    num_t = 0
    for j in para:
        num_t = num_t + TextBlob(j).sentiment.polarity
    if num_t>0:
        t_label_word.append(1)
    else:
        t_label_word.append(0)
    num = num + 1

In [134]:
num = 1
a_label_word = []
for i in sample_cleansing:
    para = tokenize.word_tokenize(i) #단어단위로 자른거 ->리스트형태
    num_a = 0
    for j in para:
        num_a = num_a + afn.score(j)
    if num_a>0:
        a_label_word.append(1)
    else:
        a_label_word.append(0)
    num = num + 1

In [135]:
num_v_word = 0
num_t_word = 0
num_a_word = 0

for i in range(len(sample)):
    if v_label_word[i] == sample['label'].values[i]:
        num_v_word = num_v_word + 1
    if t_label_word[i] == sample['label'].values[i]:
        num_t_word = num_t_word + 1
    if a_label_word[i] == sample['label'].values[i]:
        num_a_word = num_a_word + 1
        
print("단어 단위로 계산했을때 vader,textblob,afinn의 정확도는 각각 ",num_v_word/len(sample),num_t_word/len(sample),num_a_word/len(sample))

단어 단위로 계산했을때 vader,textblob,afinn의 정확도는 각각  0.8138 0.7735 0.8253